$green-color: hsl(139.6153846154deg 59.0909090909% 34.5098039216%);
$green-hover-color: hsl(139.4117647059deg 58.6206896552% 54.5098039216%);
$white-color: white;
$black-color: black;
$gri-hover-color: #858585;

* {
  font-family: "Inter", sans-serif;
}

.container {
  height: auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.createArticle {
  border-radius: 5px;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  cursor: pointer;
  text-align: center;
  background-color: $white-color;
  color: $black-color;
  border: 1.5px solid $green-hover-color;
  padding: 24px;
  width: 170px;
  height: 31px;
  text-decoration: none;

  &:hover {
    color: $white-color;
    background-color: $green-hover-color;
    transition: 0.4s ease-in-out;
    border: 1.5px solid $green-hover-color;
  }
}

.username {
  font-size: 22px;
  font-style: normal;
  text-decoration: none;
  color: $black-color;
  cursor: pointer;

  &:hover {
    color: $gri-hover-color;
    transition: 0.4s ease-in-out;
  }
}

.userAvatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
}
