$container-white-color: #fff;
$title-color: rgba(24, 144, 255, 1);
$black-color: rgba(0, 0, 0, 0.5);
$title-hover-color:rgb(0, 114, 232);

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  min-height: 180px;
  width: 90%;
  margin: 28px auto;
  background-color: $container-white-color;
  padding: 20px 23px;
  display: flex;
  flex-wrap: wrap;
}

.main {
  width: 68%;
}

.title {
  font-size: 20px;
  font-weight: 400;
  color: $title-color;
  margin: 0;
  padding: 0;
  line-height: 28px;
  width: 85%;
  cursor: pointer;

  &:hover{
    color: $title-hover-color;
  }
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.likeBtn {
  width: 25px;
  margin: 3px 10px 0 30px;
}

.tags {
  margin: 12px 0 12px 0;
}

.description {
  width: 80%;
}

.tag {
  border: 1px solid $black-color;
  padding: 3px 5px;
  border-radius: 2px;
  margin-right: 9px;
}

.legend {
  display: flex;
  width: 22%;
}

.personName {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: start;
  width: 250px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.birthDate {
  display: inline-block;
}

.personAvatar {
  height: 60px;
  width: 60px;
  border:1px solid gray;
  border-radius: 50%;
  margin-left: 50px;
}

@media (max-width: 768px) {
  .main {
    flex: 1 0 100%;
  }

  .legend {
    flex: 1 0 100%;
  }
}
