.container {
  text-align: center;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  background-color: white;
  min-height: 100vh;
}

.img {
  width: 500px;
  height: 500px;
  margin-top: 10%;
}

.title {
  font-size: 36px;
  font-weight: 400;
  color: #000000;
  margin: 20px auto 0 auto;
  padding: 0;
  line-height: 28px;
  width: 900px;
}
