$green-border-color: rgba(82, 196, 26, 1);
$white-color: #fff;
$box-shadow-color: 0px 7px 13px -6px rgba(148, 148, 148, 1);
$black-color: #000;

.items {
  display: flex;
  height: 95px;
  background-color: $white-color;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  -webkit-box-shadow: $box-shadow-color;
  -moz-box-shadow: $box-shadow-color;
  box-shadow: $box-shadow-color;
}

.childrenContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

@mixin listDecorationItem($borderColor) {
  border: 1.5px solid $borderColor;
  border-radius: 5px;
  padding: 12px;
  margin-right: 30px;
  color: $borderColor;
  display: inline-block;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: $borderColor;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    cursor: pointer;
  }
}

.listDecoration {
  text-decoration: none;
  margin: 0 30px;
  color: black;
  display: inline-block;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: $black-color;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    cursor: pointer;
  }

  &__signupBackground {
    @include listDecorationItem($green-border-color);
  }

  &__logoutBackground {
    @include listDecorationItem($black-color);
    cursor: pointer;
  }
}
